.main-container {
    .page-hadding {
        .page-hadding_banner {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;

            .banner-text {
                width: 40%;
                z-index: 2;
                position: relative;

                &:after {
                    content: "";
                    background: white;
                    height: 100%;
                    width: 235px;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    right: -116px;
                    transform: skew(-21deg);
                }

                .main-baner_text {
                    font-family: sans-serif;
                    padding: 80px;
                    position: absolute;
                    width: 80%;
                    z-index: 2;
                    left: 90px;
                    margin: 0 auto
                }

                .main-baner_text > h1, h2 {
                    text-transform: uppercase;
                    line-height: 30px;
                    font-size: 38px;
                }

                .main-baner_text > p {
                    margin: 30px 0;
                    font-size: 18px;
                    color: #AAAAAA;
                    line-height: 28px
                }

                .main-baner_text > h2 {
                    color: #F78D2F;
                    line-height: 42px
                }

                .main-baner_text > h1 {
                    font-weight: bold;
                    line-height: 50px
                }

                .main-baner_button {
                    display: block;
                    width: 50%;
                    text-transform: uppercase;
                    line-height: 30px;
                    padding: 1em;
                    border-radius: 7px;
                    box-shadow: 0 1px 4px 0 rgba(102, 98, 98, 0.4);
                    background: linear-gradient(to right, #FF8008 0%, #FFC837 0%, #FF8008 100%);
                    text-align: center;
                }

                .main-baner_button > a {
                    color: white;
                    font-size: 16px;
                    text-decoration: none;
                }
            }

            .banner-img {
                z-index: 1;
                width: 60%;
                height: 600px;
                background-color: #CCCCCC;
                position: relative
            }

            .banner-img > img {
                background-size: cover;
                position: absolute;
                width: 100%;
                overflow: hidden;
                top: 0;
                left: 0
            }
        }
    }

    .info-reg-house-owner {
        background-color: #FAFBFC;

        .container {
            .info-reg_main {
                display: flex;

                .info-reg_header {
                    width: 100%;

                    .info-header_title {
                        padding: 120px 20px 15px;
                        width: 80%;
                        margin: 0 auto
                    }

                    .info-header_title > p {
                        text-transform: uppercase;
                        font-size: 43px;
                        text-align: center;
                        justify-content: center;
                        line-height: 35px;
                    }

                    .info-header_content {
                        padding: 0 50px;
                        text-align: center;
                        width: 60%;
                        margin: 0 auto;
                    }

                    .info-header_content > p {
                        color: #AAAAAA;
                        line-height: 25px;
                    }
                }

                .info-reg_content {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin: 60px 0;

                    .info-reg_item {
                        width: 50%;
                        display: flex;
                        margin: 35px 0;

                        .info-reg_avata {
                            width: 30%;

                            .child-avata {
                                height: 82px;
                                width: 85px;
                                max-width: 200px;
                                border-width: 1px;
                                border-color: lightgray;
                                border-style: solid;
                                border-radius: 50%;
                                margin: auto 75px;

                                .fa-user-circle {
                                    &:before {
                                        position: relative;
                                        top: 25px;
                                        left: 29px;
                                        font-size: 28px;
                                        color: #666666;
                                    }
                                }

                                .fa-calendar {
                                    @extend .fa-user-circle
                                }

                                .fa-home {
                                    @extend .fa-user-circle
                                }

                                .fa-edit {
                                    @extend .fa-user-circle
                                }

                                .child-avata_icon {
                                    width: 30px;
                                    height: 30px;
                                    margin: 35px;
                                }
                            }
                        }

                        .info-reg_text {
                            width: 70%;
                        }

                        .info-reg_text > h3 {
                            color: #333333;
                            line-height: 35px;
                        }

                        .info-reg_text > p {
                            line-height: 22px;
                            color: #AAAAAA;
                        }
                    }
                }
            }
        }
    }

    .policy {
        .main-policy {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 100px 0;

            .policy-left {
                width: 50%;
                height: 380px;
                background-color: #CCCCCC;
            }

            .policy-right {
                width: 40%;
                padding: 55px 0 25px 150px;

                .policy-right_main {
                    width: 65%;

                    .policy-p_title {
                        color: #aaaaaa;
                        padding: 10px 0;
                        text-transform: uppercase;

                    }

                    .policy-p_body {
                        color: #333333;
                        font-size: 30px;
                        padding: 10px 0;
                        line-height: 32px;
                    }

                    .policy-p_footer {
                        padding: 10px 0;
                        color: #aaaaaa
                    }

                    .more-info {
                        display: flex;
                        .icon {
                            .fa-arrow-right {
                                &:before {
                                    left: 15px;
                                    position: relative;
                                    color: #636b6f;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .more-info > a {
                        text-decoration: none;
                        color: #333333;
                        text-transform: uppercase;
                    }
                }
            }

            .policy-right_main > a {
                text-decoration: none;
                text-transform: uppercase;
                line-height: 20px;
                margin: 30px 0;
                color: #666666;
            }
        }
    }

    .form-reg {
        background-color: #FAFBFC;

        .container {
            .form-reg_main {
                display: flex;
                flex-direction: column;

                .form-reg_header {
                    width: 100%;

                    .form-header_title {
                        padding: 120px 20px 15px;
                        width: 80%;
                        margin: 0 auto;
                        text-align: center
                    }

                    .form-header_title > p {
                        text-transform: uppercase;
                        font-size: 43px;
                        justify-content: center;
                        line-height: 35px;
                    }

                    .form-header_content {
                        padding: 0 50px;
                        text-align: center;
                        width: 60%;
                        margin: 0 auto;
                    }

                    .form-header_content > p {
                        color: #AAAAAA;
                        line-height: 25px;
                    }
                }

                .form-reg_body {
                    width: 100%;
                    margin: 30px 0;

                    .form {
                        display: flex;
                        flex-wrap: wrap;

                        .input_text {
                            background-color: #ffffff;
                            width: 48.3%;
                            padding: 20px;
                            margin: 10px;
                            box-sizing: border-box;
                        }

                        input[type="text"] {
                            //font-family: monospace;
                            font-size: 16px;
                            color: #B4B4B4;
                        }

                        .input_mesenger {
                            background-color: #ffffff;
                            width: 100%;
                            height: 55px;
                            padding: 20px;
                            margin: 10px
                        }
                    }
                }

                .buttom-form {
                    width: 100%;
                    margin: 25px 0;

                    .form-reg_button {
                        display: block;
                        margin: 0 auto;
                        width: 20%;
                        text-transform: uppercase;
                        line-height: 30px;
                        padding: 1em;
                        border-radius: 7px;
                        box-shadow: 0 1px 4px 0 rgba(102, 98, 98, 0.4);
                        background: linear-gradient(to right, #FF8008 0%, #FFC837 0%, #FF8008 100%);
                        text-align: center;
                    }
                }

                .form-reg_button > a {
                    color: white;
                    text-transform: uppercase;
                    font-size: 16px;
                    text-decoration: none
                }
            }
        }
    }
}

mark {
    color: #F78D2F;
}

strong {
    color: #666666
}
