@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: fa5-proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
  background: none;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.main-container .page-hadding .page-hadding_banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.main-container .page-hadding .page-hadding_banner .banner-text {
  width: 40%;
  z-index: 2;
  position: relative;
}

.main-container .page-hadding .page-hadding_banner .banner-text:after {
  content: "";
  background: white;
  height: 100%;
  width: 235px;
  position: absolute;
  top: 0;
  z-index: 1;
  right: -116px;
  transform: skew(-21deg);
}

.main-container .page-hadding .page-hadding_banner .banner-text .main-baner_text {
  font-family: sans-serif;
  padding: 80px;
  position: absolute;
  width: 80%;
  z-index: 2;
  left: 90px;
  margin: 0 auto;
}

.main-container .page-hadding .page-hadding_banner .banner-text .main-baner_text > h1,
.main-container .page-hadding .page-hadding_banner .banner-text h2 {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 38px;
}

.main-container .page-hadding .page-hadding_banner .banner-text .main-baner_text > p {
  margin: 30px 0;
  font-size: 18px;
  color: #AAAAAA;
  line-height: 28px;
}

.main-container .page-hadding .page-hadding_banner .banner-text .main-baner_text > h2 {
  color: #F78D2F;
  line-height: 42px;
}

.main-container .page-hadding .page-hadding_banner .banner-text .main-baner_text > h1 {
  font-weight: bold;
  line-height: 50px;
}

.main-container .page-hadding .page-hadding_banner .banner-text .main-baner_button {
  display: block;
  width: 50%;
  text-transform: uppercase;
  line-height: 30px;
  padding: 1em;
  border-radius: 7px;
  box-shadow: 0 1px 4px 0 rgba(102, 98, 98, 0.4);
  background: linear-gradient(to right, #FF8008 0%, #FFC837 0%, #FF8008 100%);
  text-align: center;
}

.main-container .page-hadding .page-hadding_banner .banner-text .main-baner_button > a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.main-container .page-hadding .page-hadding_banner .banner-img {
  z-index: 1;
  width: 60%;
  height: 600px;
  background-color: #CCCCCC;
  position: relative;
}

.main-container .page-hadding .page-hadding_banner .banner-img > img {
  background-size: cover;
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.main-container .info-reg-house-owner {
  background-color: #FAFBFC;
}

.main-container .info-reg-house-owner .container .info-reg_main {
  display: flex;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_header {
  width: 100%;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_header .info-header_title {
  padding: 120px 20px 15px;
  width: 80%;
  margin: 0 auto;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_header .info-header_title > p {
  text-transform: uppercase;
  font-size: 43px;
  text-align: center;
  justify-content: center;
  line-height: 35px;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_header .info-header_content {
  padding: 0 50px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_header .info-header_content > p {
  color: #AAAAAA;
  line-height: 25px;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 60px 0;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item {
  width: 50%;
  display: flex;
  margin: 35px 0;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_avata {
  width: 30%;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_avata .child-avata {
  height: 82px;
  width: 85px;
  max-width: 200px;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 50%;
  margin: auto 75px;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_avata .child-avata .fa-user-circle:before,
.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_avata .child-avata .fa-edit:before,
.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_avata .child-avata .fa-home:before,
.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_avata .child-avata .fa-calendar:before {
  position: relative;
  top: 25px;
  left: 29px;
  font-size: 28px;
  color: #666666;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_avata .child-avata .child-avata_icon {
  width: 30px;
  height: 30px;
  margin: 35px;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_text {
  width: 70%;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_text > h3 {
  color: #333333;
  line-height: 35px;
}

.main-container .info-reg-house-owner .container .info-reg_main .info-reg_content .info-reg_item .info-reg_text > p {
  line-height: 22px;
  color: #AAAAAA;
}

.main-container .policy .main-policy {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 100px 0;
}

.main-container .policy .main-policy .policy-left {
  width: 50%;
  height: 380px;
  background-color: #CCCCCC;
}

.main-container .policy .main-policy .policy-right {
  width: 40%;
  padding: 55px 0 25px 150px;
}

.main-container .policy .main-policy .policy-right .policy-right_main {
  width: 65%;
}

.main-container .policy .main-policy .policy-right .policy-right_main .policy-p_title {
  color: #aaaaaa;
  padding: 10px 0;
  text-transform: uppercase;
}

.main-container .policy .main-policy .policy-right .policy-right_main .policy-p_body {
  color: #333333;
  font-size: 30px;
  padding: 10px 0;
  line-height: 32px;
}

.main-container .policy .main-policy .policy-right .policy-right_main .policy-p_footer {
  padding: 10px 0;
  color: #aaaaaa;
}

.main-container .policy .main-policy .policy-right .policy-right_main .more-info {
  display: flex;
}

.main-container .policy .main-policy .policy-right .policy-right_main .more-info .icon .fa-arrow-right:before {
  left: 15px;
  position: relative;
  color: #636b6f;
  font-size: 13px;
}

.main-container .policy .main-policy .policy-right .policy-right_main .more-info > a {
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
}

.main-container .policy .main-policy .policy-right_main > a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  margin: 30px 0;
  color: #666666;
}

.main-container .form-reg {
  background-color: #FAFBFC;
}

.main-container .form-reg .container .form-reg_main {
  display: flex;
  flex-direction: column;
}

.main-container .form-reg .container .form-reg_main .form-reg_header {
  width: 100%;
}

.main-container .form-reg .container .form-reg_main .form-reg_header .form-header_title {
  padding: 120px 20px 15px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-container .form-reg .container .form-reg_main .form-reg_header .form-header_title > p {
  text-transform: uppercase;
  font-size: 43px;
  justify-content: center;
  line-height: 35px;
}

.main-container .form-reg .container .form-reg_main .form-reg_header .form-header_content {
  padding: 0 50px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.main-container .form-reg .container .form-reg_main .form-reg_header .form-header_content > p {
  color: #AAAAAA;
  line-height: 25px;
}

.main-container .form-reg .container .form-reg_main .form-reg_body {
  width: 100%;
  margin: 30px 0;
}

.main-container .form-reg .container .form-reg_main .form-reg_body .form {
  display: flex;
  flex-wrap: wrap;
}

.main-container .form-reg .container .form-reg_main .form-reg_body .form .input_text {
  background-color: #ffffff;
  width: 48.3%;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.main-container .form-reg .container .form-reg_main .form-reg_body .form input[type=text] {
  font-size: 16px;
  color: #B4B4B4;
}

.main-container .form-reg .container .form-reg_main .form-reg_body .form .input_mesenger {
  background-color: #ffffff;
  width: 100%;
  height: 55px;
  padding: 20px;
  margin: 10px;
}

.main-container .form-reg .container .form-reg_main .buttom-form {
  width: 100%;
  margin: 25px 0;
}

.main-container .form-reg .container .form-reg_main .buttom-form .form-reg_button {
  display: block;
  margin: 0 auto;
  width: 20%;
  text-transform: uppercase;
  line-height: 30px;
  padding: 1em;
  border-radius: 7px;
  box-shadow: 0 1px 4px 0 rgba(102, 98, 98, 0.4);
  background: linear-gradient(to right, #FF8008 0%, #FFC837 0%, #FF8008 100%);
  text-align: center;
}

.main-container .form-reg .container .form-reg_main .form-reg_button > a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

mark {
  color: #F78D2F;
}

strong {
  color: #666666;
}

#footer-app {
  background-color: #333333;
}

#footer-app .main-footer {
  display: flex;
  flex-direction: row;
  padding: 50px;
  width: 100%;
}

#footer-app .main-footer .footer-info_title > p {
  color: #F8F8F8;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
}

#footer-app .main-footer .main-footer_info {
  width: 50%;
  margin: 0 25px 0 0;
}

#footer-app .main-footer .main-footer_info .footer-info_contents {
  padding: 15px 0;
}

#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_top,
#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_phone,
#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_email,
#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_body {
  font-size: 15px;
  padding: 15px 0;
  text-transform: unset;
  color: #999999;
  line-height: 22px;
  border-bottom: 1px solid #474747;
}

#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_body {
  display: flex;
}

#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_body .icon {
  margin: 0 15px 0 0;
}

#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_email {
  display: flex;
}

#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_email .icon {
  margin: 0 15px 0 0;
}

#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_phone {
  display: flex;
  border-bottom: unset;
}

#footer-app .main-footer .main-footer_info .footer-info_contents .footer-info_phone .icon {
  margin: 0 15px 0 0;
}

#footer-app .main-footer .main-footer_about {
  width: 50%;
  margin: 0 25px 0 0;
}

#footer-app .main-footer .main-footer_about .footer-info_contents {
  padding: 23px 0;
}

#footer-app .main-footer .main-footer_about .footer-info_contents .footer-info_p {
  padding: 15px 0;
  text-transform: uppercase;
  color: #999999;
  display: flex;
}

#footer-app .main-footer .main-footer_about .footer-info_contents .footer-info_p .icon {
  margin: 0 15px 0 0;
}

#footer-app .main-footer .main-footer_social {
  width: 50%;
}

#footer-app .main-footer .main-footer_social .social-fanpage {
  top: 40px;
  position: relative;
}

#footer-app .footer-info_span {
  margin: 20px 50px;
  width: 100%;
  color: #999999;
  font-size: 15px;
}

.main-navbar {
  width: 100%;
}

.main-navbar .main-navbar_container {
  display: flex;
  padding: 20px;
}

.main-navbar .main-navbar_container .main-navbar_left {
  width: 34%;
}

.main-navbar .main-navbar_container .main-navbar_left .main-navbar_logo {
  padding-left: 50px;
  color: #333333;
}

.main-navbar .main-navbar_container .main-navbar_right {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.main-navbar .main-navbar_container .main-navbar_right .main-navabar_menu .main-menu_item {
  display: inline;
  list-style: none;
}

.main-navbar .main-navbar_container .main-navbar_right .main-navabar_menu .main-menu_item > a {
  color: #262626;
  margin: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navbar .main-navbar_container .main-navbar_right .main-navabar_menu .main-menu_item > a:hover {
  color: black;
  border-bottom: 1px solid red;
}

.main-navbar .main-navbar_container .main-navbar_right .main-navabar_login {
  margin: 0 auto;
  text-decoration: none;
  color: #262626;
  text-transform: uppercase;
}

